// 颜色定义规范
$color-background: #f2f3f4;
$color-background-theme: #d44439;
$color-theme: #d44439;
$color-text: #f1f1f1;
$color-text-d: #2e3030;
$color-text-l: #808080;
$color-text-ll: rgb(187, 168, 168);

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;